.paperbuzz-title {
    font-size: 1.5em;
    color: #789aa1;
    text-decoration: underline;
}

.paperbuzz-chart-area {
    font-size: 11px;
}

.paperbuzz-axis line,
.paperbuzz-axis path {
    fill: none;
    stroke: black;
	stroke-width: 1;
    shape-rendering: crispEdges;
}

.paperbuzz-bar.main{
	fill: #789aa1;
}

.paperbuzz-bar.alt{
	fill: #304345;
}

.paperbuzz-row {
    margin-bottom: 1em;
}

.paperbuzz-category-row-heading {
    font-size: 1.2em;
}

.paperbuzz-category-row-info {
	display: inline-block;
	width: 14px;
	height: 14px;
	border: none;
	background-color: transparent;
    position: relative;
    top: -5px;
    left: 2px;
    margin-top: 5px;
}

.paperbuzz-count-label {
	width: 100px;
    float: left;
    margin-top: .5em;
	margin-right: 2em;
	padding: 0.8em;
	text-align: center;
	border: 1px solid #c5dbec; 
	background: #c8d7d7;  
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	color: #304345;	
	
}

.paperbuzz-count-label a {
    text-decoration: none;
}

.paperbuzz-count-label a:hover {
	background-color: transparent !important;
	color: #555555 !important;
}

.paperbuzz-count-label img {
	padding-right:0.5em;
}

.paperbuzz-count {
	font-size: 1.15em;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
	font-weight: bold;
	vertical-align: middle;
}

.paperbuzz-control {
	text-decoration: underline;
	color: blue;
}

.paperbuzz-control.active {
	text-decoration: none;
	color: black;
}

/*.paperbuzz-control.disabled {
	cursor: default;
	text-decoration: none;
	color: grey;
}
*/
.paperbuzz-control:hover {
	background-color: transparent;
}

.label-img {
	vertical-align: middle;
}

.paperbuzz-tooltip {
	line-height: 1;
	font: 10px sans-serif;
	padding: 4px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 4px;
	pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.paperbuzz-tooltip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.paperbuzz-tooltip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

/* Paperbuzz mini */
#paperbuzz-mini {
	width: 250px;
    float: left;
    margin-top: .5em;
	margin-right: 2em;
	padding: 0.8em;
	text-align: center;
	border: 1px solid #28292b; 
	background: white;  
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	color: #28292b;	
	clear: both;
}

.paperbuzz-mini-total {
	font-size: 3em;
	color: #011a1f;
	float: left;
}

.paperbuzz-mini-source {
	color: #011a1f;
	float: left;
	padding: .4em;
}
.paperbuzz-mini-source > i{
	padding-top: .4em;
	padding-bottom: .em;
	font-size: 1.15em;
	vertical-align: middle;

}

.paperbuzz-mini-count {
	margin-left: .2em;
}

/* Font icon css */
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?846v');
	src:  url('../fonts/icomoon.eot?846v#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon.ttf?846v') format('truetype'),
	  url('../fonts/icomoon.woff?846v') format('woff'),
	  url('../fonts/icomoon.svg?846v#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
  
  
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
.icon-crossref:before {
	content: "\e90c";
}
.icon-datacite:before {
	content: "\e90b";
}
.icon-f1000:before {
	content: "\e90a";
}
.icon-hypothesis:before {
	content: "\e909";
}
.icon-cambia-lens:before {
	content: "\e907";
}
.icon-stackexchange:before {
	content: "\e908";
	color: #1e5397;
}
.icon-reddit-links:before {
	content: "\eac6";
}
.icon-web:before {
	content: "\e903";
}
.icon-wikipedia:before {
	content: "\e906";
}
.icon-newsfeed:before {
	content: "\e905";
}
.icon-facebook:before {
	content: "\e904";
}
.icon-reddit:before {
	content: "\e902";
}
.icon-wordpressdotcom:before {
	content: "\e901";
}
.icon-twitter:before {
	content: "\e900";
}
  